/*
	background purple: #540B51
	background ivory: #F3EAE2
	button blue: #4285F4
	titles black: #191817
	paragraph black: #000000
	paragraph yellow: #ECB12F
	links blue: #2E71A6
	footer links grey: #454245
	*/



/* html {
  font-size: 62.5%;
  overflow-x: hidden;
} */

* {
  /*   padding: 0;
  margin: 0; */
  box-sizing: border-box;
}



body {
  font-size: 1rem;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  background-color: #540b51
}

/* Mobile Styles */
@media (max-width: 767px) {
  .nav-bar ul {
    display: none;
  }


  .nav-bar {
    background-color: #540b51;
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 30px;
  }

  .logo-slack-bar {
    margin-left: 5%;
    margin-left: 4%;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }


  .logo-slack {
    height: 25px;
    width: 100px;
  }



  .icon-navbar {
    margin-right: 5%;
    display: flex;

  }

  .icon-search {
    display: flex;
    align-items: center;
    background: none;
    color: inherit;
    border: none;
    margin-left: 10px;
  }

  .icon-menu {
    display: flex;
    align-items: center;
    margin-left: 15px;
    background: none;
    color: inherit;
    border: none;
  }

  h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
  }



  #orangeSpan {
    color: orange;
  }

  header p {
    color: white;
    text-align: center;
  }

  .section-hero {
    background-color: #540B51;
    /* padding: 5.2rem; */
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
  }


  .hero-button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }

  .hero-btn1 {
    width: 400px;
    height: 100%;
    padding: 10px;
    align-self: center;
    background-color: #F3EAE2;
    color: #540B51;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
  }

  .hero-btn2 {
    width: 400px;
    background-color: #4285F4;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    height: 100%;
    padding: 4px;
    text-transform: uppercase;
  }

  .hero-logo-google {
    display: flex;
    overflow: hidden;
    border: solid 1px white;
    background-color: #fff;
    object-fit: scale-down;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    margin-left: 2px;
  }


  .img-product-ui {
    margin-left: -30px;
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
  }

  .img-product-ui img {
    width: 150%;
  }

  main {
    overflow: hidden;
  }


  .logos-section {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F3EAE2;
    padding-top: 20px;
  }


  .logo-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
  }


  .logo-images img {
    width: 20%;
  }

  .img-mobile {
    padding-top: 50px;
    width: 100%;
    height: auto;
    background-color: #F3EAE2;
  }

  .img-mobile img {
    width: 95%;
  }

  .slack-team {
    padding: 0 20px;
  }



  .slack-team h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-top: 20px;
  }

  #arrow {
    content: "\2192";
    color: #4285F4;
  }

  .work-slack {
    padding-top: 50px;
    width: 100%;
    background-color: #F3EAE2;
  }

  .work-slack img {
    width: 95%;
  }

  .work-flex {
    padding: 0 20px;
    padding-top: 20px;
  }

  .speed-slack {
    padding-bottom: 20px;
    background-color: #F3EAE2;
  }

  .speed-slack img {
    width: 100%;
    padding-top: 100px;
  }

  .slack-tools {
    padding: 0 20px;
    background-color: #F3EAE2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .slack-teams {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }

  .slack-teams h3 {
    font-size: 1.5rem;
  }

  .buttons-teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
    cursor: pointer;
  }

  #btn-teams1 {
    width: 400px;
    padding: 1rem 3rem;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    background-color: #540B51;
    color: white;
    border-radius: 5px;
    border: none;
  }

  #btn-teams2 {
    width: 400px;
    height: fit-content;
    padding: 0.8rem 3rem;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    background-color: white;
    color: #540B51;
    border-radius: 5px;
    border-color: #540B51;
  }

  .containerUl {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-self: center;
  }

  .slack-teams ul {
    list-style: none;
    padding: 0;
    width: 60%;
    text-align: center;
  }

  .slack-teams ul li span {
    color: #540B51;
    font-size: 3.5rem;
    font-weight: 600;
  }

  .slack-teams ul li p {
    font-weight: 600;
  }

  .welcome {
    background-color: #540B51;
    color: white;
    text-align: center;
    padding: 20px;
  }

  .welcome h3 {
    font-size: 2rem;
  }

  .welcome-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
    cursor: pointer;
    padding-bottom: 50px;
  }

  #btn-welcome1 {
    width: 400px;
    height: fit-content;
    padding: 0.8rem 3rem;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    background-color: #540B51;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
  }

  #btn-welcome2 {
    width: 400px;
    padding: 1rem 3rem;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    background-color: white;
    color: #540B51;
    border-radius: 5px;
    border: 1px solid white;
  }

  footer {
    background-color: white;
    padding: 20px;
    padding-top: 50px;
  }

  footer img {
    width: 10%;
  }

  .footer-sitemap {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    gap: 20px;
  }


  footer ul {
    list-style-type: none;
    padding: 0;
  }

  footer ul li {
    font-size: 0.8rem;
    padding-bottom: 30px;
  }

  .sitemap-title {
    font-weight: 800;
  }

  .footer-ul-container {
    padding-top: 50px;
  }

  .footer-Ul {
    font-weight: 800;
  }


  .footer-logos {
    display: flex;
    justify-content: space-between;

  }

  small {
    font-size: 0.8rem;
  }

}